# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/
.env_venv/

# Environment Variables
.env

# IDE / Editor Settings
.idea/
.vscode/
*.swp
*.swo

# Project logs
*.log

